body {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
    background-color: rgb(231, 231, 231);
}

h1 {
    color: rgb(245, 191, 42);
    font-size: 50px;
}